@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; font-family:Microsoft JhengHei,Verdana,arial,"sans serif";}
a { text-decoration:none;}
img{ border:0 none;}
body { background:url(../images/brd.gif);}
#Wrapper { background:url(../images/top.gif) no-repeat scroll 50% 0 transparent; margin:0; width:100%;}
#header { background:url(../images/top.gif) no-repeat scroll 50% 0 transparent; height:220px; width:100%; overflow:hidden; margin:0 auto; position:relative;}
h1.title{ position:absolute; text-indent:-9999px;}
.logo{ overflow:visible; margin:0 auto; width:100px; padding:18px 0;}
#banner{ width:960px; overflow:hidden; margin:0 auto;}
#links_content{ background:url(../images/li01.png) no-repeat scroll 50% 0 transparent; height:670px; width:960px; overflow:hidden; margin:0 auto; position:relative;}
#run{height:400px; width:540px; overflow:hidden; margin:0 auto; position:relative;}
.mail{ background:url(../images/ice.png) no-repeat 0 0; width:61px; height:43px; position:absolute; left:520px; top:170px;}
.mail a{ line-height:120px; margin-left:-80px; font-size:20px; color:#FFFFFF; font-family:Microsoft JhengHei, Verdana, Arial;}
.mail a:hover{text-decoration:underline;}
.line{ background:url(../images/ice.png) no-repeat 0 -43px; width:61px; height:43px; position:absolute; left:520px; top:70px;}
.line a{ line-height:120px; margin-left:-20px; font-size:20px; color:#FFFFFF; font-family:Microsoft JhengHei, Verdana, Arial;}
.line a:hover{text-decoration:underline;}
#footer{ padding:15px 0; width:100%; overflow:hidden; margin:0 auto;}
#footer p{font-family:Microsoft JhengHei,Verdana,Arial;font-size:1em; color:#665309; line-height: 1.9em;}
/* 主頁menu開始 */
#menu{background:url(../images/menu.png) no-repeat scroll 0 0 transparent; width:570px; height:50px; list-style:none outside none;overflow:hidden; margin:0 auto;}
#menu li{float:left;margin-right: 0px;}
#menu li a{background:url(../images/menu.png) no-repeat scroll 0px 0px transparent;display:block;height:50px;text-indent:-9999px;}
#menu li#web a{background-position: 0px 0px; width:170px;}
#menu li#flat a{background-position: -170px 0px; width:116px;}
#menu li#painting a{background-position: -286px 0px; width:117px;}
#menu li#links a{background-position: -403px 0px; width:115px;}
#menu li#web a:hover{background-position: 0px -50px;}
#menu li#flat a:hover{background-position: -170px -50px;}
#menu li#painting a:hover{background-position: -286px -50px;}
#menu li#links a:hover{background-position: -403px -50px;}
/* 主頁menu結束 */
/* 放大開始 */
#banner .sh{font-size:1em; color:#665309; line-height:1.9em;}
#banner .prodimg {float:left; margin:20px 20px 20px 0; text-align: center;}
#banner .prodimg img{background:none repeat scroll 0 0 #FFFFFF; border:1px solid #CCCCCC; padding:5px;}
.col{float:left; overflow:visible; display:block; margin:0 13px 20px 0; }
.col.last{margin-right:0px;}
.col.c25{width:230px;}
.photo{position:relative;}
.photo img{background:none repeat scroll 0 0 #FFFFFF; border-bottom:1px solid #CCCCCC; padding:4px;}
/* 放大結束 */