
/* 預設共用 */
* {font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "微軟正黑體"; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a:focus, button:focus, buttom.active {outline: none; text-decoration: none;}
ul, li {list-style: none; margin: 0; padding: 0;}
a, a:hover, button, button:hover {text-decoration: none; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.carousel-control.left, .carousel-control.right {background-image: none;}



/* FOOTER */
footer {padding-bottom: 60px; background: #ff8242;}
footer .prose .small span {float: right;}
footer .prose .small button {position: relative; z-index: 99999;}
.service_box {display: none;}
#widget {display: block;}
.footer {background: #ff8242;}
.F_logo {text-align: center; padding: 50px 0;}
.LTD_INFO ul li {display: inline-block; padding-right: 5px; color: #FFF;}
.LTD_INFO ul li a {color: #FFF;}
.LTD_INFO ul li a:hover {color: #f6c6ae;}
.copyright_box {text-align: center; background-color: #ec6c2a; color: #FFF;}
.copyright_box h4 {font-size: 14px; letter-spacing: 2px;}





.actGotop {right: 0px;}
.auto_page .breadcrumb {margin-top: 150px;}
.auto_page_content .carousel {top: -200px;}
.header {height: 56px; transition: initial;}
.footer {margin-bottom: 37px;}
.F_logo {padding: 20px 0 0;}
.copyright_box h4 {letter-spacing: 0;}
.gizle {top: 0px !important;}
footer[role="contentinfo"] {padding-bottom: 30px;}
article.container {position: relative; z-index: 100; top: 73px; padding-bottom: 93px;}
article.container.idx {top: 0;padding-bottom: 0;}
.navbar-default #cart {width: 100%;}
.navbar-inverse .navbar-header h2.block-title a {padding: 0;margin: 0 auto; text-align: center; float: initial; display: table;}
.navbar-inverse .navbar-header h2.block-title img {width: 60%; padding: 0;margin: 0 auto;}
.gizle .navbar-inverse .navbar-header h2.block-title img {width: 60%; padding: 0;margin: 0 auto;}
.carousel-inner > .item {overflow: hidden;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {/*min-width: 1280px; height: 300px; margin-left: -105%;*/ width: 100%;}
.idx #carousel-example-generic {margin-top: 76px;}

/** 列表頁下方的分頁按鈕及載入更多按鈕 **/
.skin_list .loading {display: table;}
.skin_list .pagination {margin: 20px auto 0; display: none;}
.skin_module .loading {margin: 20px auto 0; display: table; width: 50%; text-shadow: 0 1px 0 #fff; background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%); background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%); background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0)); background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.skin_module .pagination {display: none;margin: 20px auto 0;}
.service_box {display: block; width: 100%; position: fixed; bottom: 0; left: 0; z-index: 999;}
.service_box ul {width: 100%; display: table;}
.service_box ul li {float: left; width: 50%; line-height: 45px;}
.service_box ul li button {width: 100%; display: table; border-radius: 0; line-height: 45px; padding: 0;}
#widget {display: none !important;}
