/*-------------------------------------------------
 calendar
---------------------------------------------------*/
@media (min-width: 768px) {
	
	#header .calendar-1{
		background:url(../images/calendar-1-200.png) no-repeat;
	}

	#header .calendar-2{
		background:url(../images/calendar-2-200.png) no-repeat;
	}
}

@media (min-width: 1024px){
	#header .calendar-1{
		background:url(../images/calendar-1-240.png) no-repeat;
	}

	#header .calendar-2{
		background:url(../images/calendar-2-240.png) no-repeat;
	}
}

@media (min-width: 1380px){
	#header .calendar-1{
		background:url(../images/calendar-1.png) no-repeat;
	}

	#header .calendar-2{
		background:url(../images/calendar-2.png) no-repeat;
	}
}